<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<div class="form">
<form action='<?php echo $PHP_SELF; ?>' method='post'>
  <label>User Name: </label> <input type="text" name="username" placeholder="User Name">
  <br>
  <label>Password: </label> <input type="password" name="password" placeholder="Password">
  <br>
 
 <button type="submit" value="submit">Submit</button>
</form>
</div>

